* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #ccc;
    font-size: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --my-color: #1dbfaf
}
.margin {
    margin: 10px 0;
}
#main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.form {
    align-self: center;
    background: #fff;
    width: 350px;
    padding: 32px 24px;
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 40%);
}
.heading h3 {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: var(--my-color);
}
.heading p {
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.form-group .form-control {
    padding: 5px 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.form-control:hover {
    border-color: var(--my-color);
}
.form-group.gender {
    align-items: center;
    flex-flow: wrap;
}
.form-group.gender .input-gender {
    margin: 0px 4px;
    padding: 4px;
    font-size: 16px;
}
.form-group.gender input[name="gender"] {
    margin-right: 4px;
}
.form-submit {
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    padding: 8px 10px;
    background: var(--my-color);
    color: #fff;
}
.form-submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form-group.invalid .form-control {
    border-color: crimson;
}
.form-group.invalid .form-message {
    font-size: 16px;
    color: crimson;
}